<ion-header>
  <ion-toolbar>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <div class="header">
        <div class="title">
          <ion-grid>
            <ion-row>
              <ion-col>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="body">
        <ion-fab vertical="center" horizontal="center" slot="fixed" (click)="openNewPage()">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-text>
          Agregue un nuevo grupo
        </ion-text>
      </div>
      <div class="footer">
      </div>
    </div>
  </ion-content>
