<ion-header>
  <ion-toolbar class="ion-no-border; ion-no-margin; ion-no-padding">
    <ion-buttons slot="primary">
      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>ElectrickApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="ion-no-padding" style="height: 100%;">
    <ion-slide style="overflow-y: scroll;">
      <ion-grid class="container">
        <ion-row class="header">
          <ion-col style="text-align: right">
            <ion-text>

            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="header; ion-no-padding;" style="font-size: 9vw;">
          <ion-col>
            <circle-progress 
              [percent] = '100'
              [maxPercent] = '100'
              [showTitle] = 'true'
              [showSubtitle] = 'true'
              [showUnits] = 'false'
              [space] = "-10"
              [outerStrokeWidth] = '10'
              [outerStrokeColor] = "'#97C34A'"
              [innerStrokeColor] = "'#E7E8EA'"
              [innerStrokeWidth] = '10'
              [title] = "'Working'"
              [titleFontSize] = '30'
              [subtitle] = "'Correct'"
              [subtitleFontSize] = '20'
              [animateTitle] = 'false'
              [renderOnClick] = 'false'
              [responsive] = 'false'>
            </circle-progress>
            <!-- <div>
              {{ Tcenergy }}
            </div>
            <div>
              Costo total
            </div> -->
            <div style="margin-top: 5%; font-size: 6vw; text-align: left; padding-left: 5%;">
              Detalle
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="body">
          <ion-col style="text-align: center">
            <ion-list class="ion-no-padding; body;" mode='ios'>
              <ion-item *ngFor="let name of names" lines="none">
              <!-- <ion-item> -->
                <ion-avatar slot="start">
                  <ion-icon name="pause-circle" size="large"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <ion-text>
                    {{ name.Name }}
                  </ion-text>
                  <ion-progress-bar value="{{ name.Energy }}"></ion-progress-bar>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="footer">
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
