<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="../../assets/images/name_sin_fondo.png">
      </div>
    </div>
    <div class="body">
      <ion-button icon-left expand="block" color="danger" (click)="googleLogin()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Acceder con Google
      </ion-button>

      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" color="white"></ion-icon>
          <ion-icon slot="end" color="white"></ion-icon>
          <ion-input placeholder="                   "></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div class="footer">
      <a>Electrikapp</a>
    </div>
  </div>
</ion-content>
